.container {
    display: flex;
    height: 100vh;
  }
  
  .block {
    padding: 20px;
    border: 1px solid #ccc;
  }
  
  .left-block {
    flex: 2;
    background-color: #f5f5f5;
    width: 70%
  }
  